@import url('https://cdn.jsdelivr.net/font-kopub/1.0/kopubdotum.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    font-family: 'kopubdotum', 'DM Sans', sans-serif;
    font-size: 16px;
}

body ::selection{
    background-color: #ffef5fa8;
    color: #000;
}

.main {
    width: 85vw;
    height: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -5vw;
    margin-bottom: -4vw;
}

.main img{
    width: 10vw;
}

.contentP {
    line-height: 2.2vw;
    margin-bottom: 4.5vw;
    font-size: 1.2vw;
}

.titleP {
    font-size: 7.5vw;
    font-weight: 400;
    background-image: linear-gradient(to right, #FFEF5F 0%, #FFEF5F 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position: left bottom;
    transition: background-size 0.4s ease;
    cursor: pointer;
}

.titleP:hover {
    background-size: 100% 100%;
}


.sub-titleP {
    font-size: 2.5vw;
    font-weight: 400;
}

.circle {
    width: 1vw;
    height: 1vw;
    background-color: #000;
    border-radius: 50%;
    margin-bottom: 5vw;
}


.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5vw;
}

.gridItem {
    grid-column: span 1;
    border-radius: 50%;
    background-color: #f5f5f5;
    padding: 2vw;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: ease 0.3s;
    filter: blur(3px);
    margin: 4vw 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(circle farthest-side at 40% 30%, #ffffff, #FFEF5F);

}


.gridItem:hover {
    filter: blur(3px);
    transform: translateY(-30px);
    /* 위로 떠오르는 효과 */
}


.hidden-word {
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 1.5vw;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

.gridItem:hover .hidden-word {
    opacity: 1;
    filter: none !important;
}

@keyframes wordChange {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.word-changing {
    animation: wordChange 0.4s ease forwards;
}



.cards-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: space-between;
    margin: 3vw 0 6vw 0;
}

.keywordList {
    display: flex;
    align-items: center;
}

.keyword {
    padding: 0.5vw 1.2vw;
    border-radius: 100px;
    text-align: center;
    background-color: #FFEF5F;
    border: solid 0.1vw #000;
    font-size: 1vw;
    font-weight: 500;
    width: 4.5vw;
}

.keywordText {
    margin-left: 1vw;
    font-size: 1.5vw;
    font-weight: 600;
}

.movie-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: space-between;
    margin: 3vw 0 3vw 0;
}

.book-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: space-between;
    margin: 3vw 0 3vw 0;
}

.quote-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: space-between;
    margin: 3vw 0 3vw 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5vw;
    width: 85vw;
    transition: transform 0.6s ease;
    margin-bottom: 3vw;
}

.grid-box {
    background-color: #f5f5f5;
    border: 1px solid #000;
    width: 100%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
}

.grid1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border-radius: 0 10vw 0 0;
    animation: flipX 8s infinite;
    animation-delay: 0.2s;
    transform-origin: center center;
}

.grid2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    border-radius: 10vw 0 0 0;
    animation: flipX 8s infinite;
    animation-delay: 0.4s;
    transform-origin: center center;
}

.grid3 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    border-radius: 10vw 0 0 0;
    animation: color 8s infinite;
    animation-delay: 0.4s;
}

.grid4 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    border-radius: 0 10vw 0 0;
    animation: color 8s infinite;
    animation-delay: 0.6s;
}

.grid5 {
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
    border-radius: 0 10vw 0 0;
    animation: flipX 8s infinite;
    animation-delay: 0.8s;
    transform-origin: center center;
}

.grid6 {
    grid-column: 6 / span 1;
    grid-row: 1 / span 1;
    border-radius: 10vw 0 0 0;
    animation: flipX 8s infinite;
    animation-delay: 1.0s;
    transform-origin: center center;
}

.grid7 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    border-radius: 0 0 10vw 0;
    animation: flipX 8s infinite;
    animation-delay: 0.6s;
    transform-origin: center center;
}

.grid8 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    border-radius: 0 0 10vw 0;
    animation: color 8s infinite;
    animation-delay: 0.2s;
}

.grid9 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    border-radius: 0 0 0 10vw;
    animation: color 8s infinite;
    animation-delay: 0.8s;
}

.grid10 {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    border-radius: 0 0 10vw 0;
    animation: color 8s infinite;
    animation-delay: 1.0s;
}

.grid11 {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
    border-radius: 0 0 10vw 0;
    animation: flipX 8s infinite;
    animation-delay: 1.2s;
    transform-origin: center center;
}

.grid12 {
    grid-column: 6 / span 1;
    grid-row: 2 / span 1;
    border-radius: 0 0 10vw 0;
    animation: color 8s infinite;
    animation-delay: 1.2s;
}

.grid13 {
    grid-column: 7 / span 1;
    grid-row: 1 / span 1;
    border-radius: 10vw 0 0 0;
    animation: flipX 8s infinite;
    animation-delay: 0.2s;
    transform-origin: center center;
}

.grid14 {
    grid-column: 8 / span 1;
    grid-row: 1 / span 1;
    border-radius: 0 10vw 0 0;
    animation: flipX 8s infinite;
    animation-delay: 0.4s;
    transform-origin: center center;
}

.grid15 {
    grid-column: 9 / span 1;
    grid-row: 1 / span 1;
    border-radius: 10vw 0 0 0;
    animation: color 8s infinite;
    animation-delay: 0.4s;
}

.grid16 {
    grid-column: 10 / span 1;
    grid-row: 1 / span 1;
    border-radius: 0 10vw 0 0;
    animation: color 8s infinite;
    animation-delay: 0.6s;
}

.grid17 {
    grid-column: 11 / span 1;
    grid-row: 1 / span 1;
    border-radius: 10vw 0 0 0;
    animation: flipX 8s infinite;
    animation-delay: 0.8s;
    transform-origin: center center;
}

.grid18 {
    grid-column: 12 / span 1;
    grid-row: 1 / span 1;
    border-radius: 0 10vw 0 0;
    animation: flipX 8s infinite;
    animation-delay: 1.0s;
    transform-origin: center center;
}

.grid19 {
    grid-column: 7 / span 1;
    grid-row: 2 / span 1;
    border-radius: 0 0 0 10vw;
    animation: flipX 8s infinite;
    animation-delay: 0.6s;
    transform-origin: center center;
}

.grid20 {
    grid-column: 8 / span 1;
    grid-row: 2 / span 1;
    border-radius: 0 0 10vw 0;
    animation: color 8s infinite;
    animation-delay: 0.2s;
}

.grid21 {
    grid-column: 9 / span 1;
    grid-row: 2 / span 1;
    border-radius: 0 0 0 10vw;
    animation: color 8s infinite;
    animation-delay: 0.8s;
}

.grid22 {
    grid-column: 10 / span 1;
    grid-row: 2 / span 1;
    border-radius: 0 0 10vw 0;
    animation: color 8s infinite;
    animation-delay: 1.0s;
}

.grid23 {
    grid-column: 11 / span 1;
    grid-row: 2 / span 1;
    border-radius: 0 0 0 10vw;
    animation: flipX 8s infinite;
    animation-delay: 1.2s;
    transform-origin: center center;
}

.grid24 {
    grid-column: 12 / span 1;
    grid-row: 2 / span 1;
    border-radius: 0 0 10vw 0;
    animation: color 8s infinite;
    animation-delay: 1.2s;
}

@keyframes flipX {
    0% {
        transform: scaleX(1);
        background-color: #f5f5f5;
    }

    30% {
        transform: scaleX(1);
        background-color: #f5f5f5;
    }

    50% {
        transform: scaleX(-1);
        background-color: #000;
    }

    70% {
        transform: scaleX(-1);
        background-color: #000;
    }

    100% {
        transform: scaleX(1);
        background-color: #f5f5f5;

    }
}

@keyframes color {
    0% {
        background-color: #f5f5f5;
    }

    30% {
        background-color: #f5f5f5;
    }

    50% {
        background-color: #000;
    }

    70% {
        background-color: #000;
    }

    100% {
        background-color: #f5f5f5;
    }
}