.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(139, 139, 139, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  animation: modalFadeIn 0.3s ease;


  background: rgba(255, 255, 255, 0.55);
  border-radius: 0.7vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(11.8px);
  -webkit-backdrop-filter: blur(11.8px);
  border: 1px solid rgba(244, 244, 244, 0.54);
  padding: 0;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(4vw);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-close {
  position: absolute;
  top: 1vw;
  right: 1vw;
  background: rgba(155, 155, 155, 0.7);
  color: white;
  border: none;
  border-radius: 50%;
  width: 1.3vw;
  height: 1.3vw;
  font-size: 1.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.2s;
  padding: 0;
}

.modal-close:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-scroll-container {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.7vw;
  max-height: calc(90vh - 50px);
}

.modal-scroll-container::-webkit-scrollbar {
  width: 0.3vw;
}

.modal-scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1vw;
}

.modal-scroll-container::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 1vw;
}

.modal-scroll-container::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}

