.movie-modal-content {
    width: 40vw;
    height: 28vw;
}

.modal-content.movie-modal-content .movie-info{
    text-align: left;
    margin: 0;
}

.modal-content.movie-modal-content .movie-title {
    font-size: 1vw;
    color: #000;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.modal-content.movie-modal-content .movie-year {
    margin: 1vw 0;
    font-size: 1vw;
}

.modal-content.movie-modal-content .movie-director {
    font-size: 0.9vw;
    font-weight: 500;
    color: #000;
    margin-top: 0;
    margin-bottom: 0.3vw;
    white-space: pre-line; 
}

.modal-content.movie-modal-content .movie-actor{
    font-size: 0.8vw;
    font-weight: 400;
    color: #000;
    margin-top: 0;
    margin-bottom: 0.3vw;
    white-space: pre-line; 
}


.modal-content.movie-modal-content .movie-line{
    white-space: pre-line;
    font-size: 0.8vw;
    line-height: 1.3vw;
    color: #FFEF5F;
    font-weight: 600;
    font-style: italic;
    background-color: #121212;
    padding: 0.8vw 0.5vw;
    text-align: center;
    margin-top: 2.5vw;
    margin-bottom: 0;
}